venv/
.pylintrc
__pycache__/

.vscode
.idea
.env
django.log
security.log

db.sqlite3
media/
debug.log

### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch